#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 3.2em;
  line-height: 1.1;
  display: flex;
  text-align: center;
}

.card {
  padding: 2em;
}

.toolbar {
  position: fixed;
  display: flex;
  gap: 4px;
  top: 0;
  margin: 0.75rem;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.center {
  position: absolute;
  left: 50%;
  right: 50%;
  margin-top: 0px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter button {
  padding: 0.5em;
  background: none;
  margin-left: 4px;
}

button svg {
  vertical-align: text-bottom;
}